body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.navbar {
    background-color: #343a40;
    color: #fff;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fff !important;
}

.nav-link {
    margin-left: 150px;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}